@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@200;300;400;500;600;700;800&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --bg-color-violet: hsl(273, 75%, 66%);
    --bg-color-blue: hsl(240, 73%, 65%);
    --tx-color-red: hsl(14, 88%, 65%);
    --tx-color-desatBlue: hsl(238, 29%, 16%);
    --tx-color-grayishBlue: hsl(240, 6%, 50%);
    --tx-color-veryGrayishBlue: hsl(237, 12%, 33%);
    --d-color-lightGrayishBlue: hsl(240, 5%, 91%);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 12px;
    height: 100vh;
    width: 100%;
    display: grid;
    justify-content: center;
    align-content: center;
    background: linear-gradient(var(--bg-color-blue), var(--bg-color-violet));
}

.container {
    outline: 1px solid;
    border-radius: 1.5rem;
    margin: 0 1rem;
    padding: 0 1.5rem 2rem 1.5rem;
    background-color: white;
}

.images {
    text-align: center;
    position: relative;
    height: 10rem;
    bottom: 5.5rem;
}

.desktop-image {
    display: none;
}

.mobile-image {
    width: 12rem;
    text-align: center;
}

.bg-pattern {
    position: relative;
    bottom: 3.5rem;
}

@media (min-width: 375px) {
    body {
        display: grid;
        justify-items: center;
    }

    .container {
        width: 70%;
        height: 60vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content:space-between;
        align-content: center;
    }

    .mobile-image {
        display: none;
    }

    .desktop-image {
        display: unset;
        position: absolute;
    }

    .images, .content {
        outline: 2px solid green;
    }

    .images {
        height: 25rem;
        text-align: left;
        bottom: unset;
        right: 7.5rem;
    }

    .images > .box {
        top: 7rem;
        z-index: 2;
    }

    .bg-pattern {
        outline: 1px solid red;

    }

    .content {
        height: fit-content;
        margin: auto;
    }
}

